.App {
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 5vh;
  background-color: #12263a;
  justify-content: space-between;
}

.Nav-Bar {
  margin-left: 20px;
  height: 100%;
}

.Header-Title {
  font-size: 1.35rem;
  margin: 15px 5px;
  color: #f4edea;
}

/* Main Layout */

.Main-Layout {
  display: flex;
  flex-direction: row;
  height: 95vh;
  width: 100vw;
}

/* Sidebar */

.Polls-Side-Bar {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 10vw;
  background-color: #e0ebf6;
  border: solid 0.025rem grey;
}

.Side-Bar-Heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Polls-Side-Bar h3 {
  margin: 5% 0;
}

.New-Poll-Toggle {
  cursor: pointer;
  padding-right: 10px;
}

.Polls-Side-Bar input {
  background-color: #e0ebf6;
  font-weight: bold;
  width: 90%;
  margin: 5px;
  height: 30px;
  padding: 5px;
}

.Polls-Side-Bar input:hover {
  background-color: #f4edea;
}

.Polls-Side-Bar input:focus {
  background-color: #f4edea;
}

.New-Poll-Form {
  display: flex;
  flex-direction: column;
}

.New-Poll-Form label {
  text-align: start;
  margin: 5px;
}

.New-Poll-Form button {
  height: 30px;
  padding: 5px;
  width: 50%;
  margin: 10px auto;
}

.Poll-Item {
  cursor: pointer;
  margin: 5% 0;
}

/* Detail Section */

.Poll-Details {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 90vw;
  background-color: #f4edea;
}

.Poll-Detail-CTA {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.Poll-Header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.Poll-Details .Poll-Title {
  display: flex;
  width: 100%;
  justify-content: center;
}

.Poll-Detail-Close {
  padding-right: 10px;
}

.Poll-Detail-Close h1 {
  font-weight: 2;
  cursor: pointer;
}

.Poll-Section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10% 0;
}

.Poll-Question h2 {
  text-align: center;
  margin: 20px;
}

.Poll-Vote-Count {
  display: flex;
  flex-direction: row;
}

.Poll-Votes {
  margin: 20px;
  font-size: 1.5rem;
}

.Poll-Voting {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 20px;
  font-size: 1.5rem;
  padding: 5px;
  justify-content: center;
}

.Poll-Voting button {
  height: 30px;
  padding: 5px;
  width: 10%;
  margin: 10px 20px;
}
